@font-face {
  font-family: Biko;
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/biko-black.woff");
}
html, body {
  background: white;
  margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
/*
    transition-property: opacity;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
*/

}
header {
  width: 100%;
  margin: 0 auto;
  position: relative;
    height: 100%;
}


body {
	align-items: center;
	height: 100vh;
	justify-content: center;
	margin: 0;
	padding: 0;
	transition: background-color 2s cubic-bezier(0.19, 1, 0.22, 1);
}

.button {
	border: 2px solid lightgrey;
	cursor: pointer;
	letter-spacing: 0.2125rem;
	overflow: hidden;
	padding: 20px 30px;
	position: absolute;
	text-align: center;
    bottom: 100px;
    right: 550px;
    justify-content: center;
	text-transform: uppercase;
	transition: 
		background 5s cubic-bezier(0.19, 1, 0.22, 1),
		border 1s cubic-bezier(0.19, 1, 0.22, 1),
		color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
	user-select: none;
    opacity: 0.7;
    background-color: grey;
}

.button a {
	color: white;
	font-family: "Varela Round";
	text-decoration: none;
}

.button .mask {
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.5);
	height: 100px;
	position: absolute;
	transform: translate3d(-120%, -50px, 0) rotate3d(0, 0, 1, 45deg);
	transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1);
	width: 200px;
}

.button .shift {
	display: inline-block;
	transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1);
}

.button:hover {
	background-color: black;
	border-color: #fff;
	box-shadow: 0 0 5px rgba(255, 245, 245, 0.8);
	transition: background 0s;
}

.button:hover a {
	color: #fff;
}

.button:hover .mask {
	background-color: #fff;
	transform: translate3d(120%, -100px, 0) rotate3d(0, 0, 1, 90deg);
}

.button:hover .shift {
	transform: translateX(5px);
}

.button:active {
	background-color: #fff;
}

.button:active a {
	color: #202020;
}

body.show {
	background-color: #282828;
}

/* .button:hover {
	background-image: url('http://cuinine.com/img/codepen/savvy.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	backgrou	background-size: cover;
nd-size: cover;
} */

.concussionByPosition {
    background: black;
    left: 1000px;
    position:absolute;
}